{% extends 'base.html' %}
{% load my_tags %}
{% block 'title' %}Employees | EMS{% endblock 'title' %}
{% block 'content' %}
    <div class="card">
        <div class="card-header py-3 px-5 flex justify-between">
            <h5>Employees</h5>
            <a href="{% url 'add-employee' %}" class="btn text-white bg-primary-100 hover:text-primary-100 hover:bg-transparent"><i class="fa-light fa-plus"></i> Add Employee</a>
        </div>

        <div class="card-body employee">
            <table class="table" id="emptable">
                <thead>
                    <tr>
                        <th class="text-left">Employee</th>
                        <th class="text-left">Phone</th>
                        <th class="text-left">Status</th>
                        <th class="!text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in employees %}
                        <tr>
                            <td>
                                <div class="flex items-center gap-2">
                                    <div class="avatar">
                                        {% if emp.image %}
                                            <img src="{{emp.id|avatar}}" alt="{{emp.id|fullname}}">
                                        {% else %}
                                            <img src="/static/images/user-img.png" alt="{{emp.id|fullname}}">
                                        {% endif %}
                                    </div>
                                    <div class="leading-4">
                                        <span class="font-medium text-light-100">{{emp.id|fullname}}</span><br>
                                        <span class="text-sm">{{ emp.designation }}</span>
                                    </div>
                                </div>
                            </td>
                            <td>{{ emp.phone }}</td>
                            <td>{{ emp.wrk_status|workstatus|safe }}</td>
                            <td class="!text-right">
                                <a href="{% url 'edit-employee' emp.id %}" class="text-primary-100" title="Edit"><i class="fa-regular fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock 'content' %}

