{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Login | EMS</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>



    <main class="site">
        <div class="center login-page">
            <div class="container-xxl">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body p-4 py-5">
                                <img src="/static/images/logo.png" alt="" class="d-block m-auto mb-4">

                                <h5>Welcome to EMS! 👋</h5>
                                <p>Please sign-in to your account and start the adventure</p>

                                <form method="post">
                                    {% csrf_token %}
                                    <label for="email"> <small>Email</small></label>
                                    <input id="email" type="email" name="email" placeholder="Enter Your Email" class="form-control mb-3">
                                    <label for="password"> <small>Password</small></label>
                                    <input id="password" type="password" name="password" placeholder="Enter Your Password" class="form-control mb-1">
                                    <p class="text-end"><a href="#"><small>Forgot Password?</small></a></p>
                                    <button type="submit" class="btn btn-primary w-100">Log in</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    
	

    

	<script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/script.js"></script>
</body>

</html>