{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Home | EMS</title>
	<link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>



    <main class="site">
        <div class="container mx-auto mt-10">
            <a href="{% url 'login' %}" class="btn text-white bg-primary-100 border-primary-100 hover:text-primary-100 hover:bg-transparent">Login</a>

        </div>
    </main>


    
	

    
    <script>
        tailwind.config = {
            theme: {
                screens: {
                    sm: '360px',
                    md: '768px',
                    lg: '976px',
                    xl: '1366px',
                },
                extend: {
                    colors: {
                        primary: {
                            100: '#0f79f3',
                            10: '#0f79f31a'
                        },
                        secondary: {
                            100: '#6c757d',
                            10: '#6c757d1a'
                        },
                        success: {
                            100: '#2ed47e',
                            10: '#2ed47e1a'
                        },
                        info: {
                            100: '#00cae3',
                            10: '#00cae31a'
                        },
                        warning: {
                            100: '#ffb264',
                            10: '#ffb2641a'
                        },
                        danger: {
                            100: '#e74c3c',
                            10: '#e74c3c1a'
                        },
                        light: {
                            100: '#475569',
                            10: '#4755691a'
                        }
                    }
                }
            },
            // container: {
            //     center: true,
            // },
            fontFamily: {
                out: ["Outfit", 'sans-serif']
            }
        }
    </script>
	<script src="/static/js/script.js"></script>
</body>

</html>