{% extends 'base.html' %}

{% block 'content' %}
    <div class="flex gap-5">
        <div class="w-1/2">

        </div>
        <div class="w-1/2">
            <div class="card">
                <div class="card-header py-3 px-4">
                    <h5>Team Members</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left">Member</th>
                                <th class="text-left">Status</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <div class="avatar">
                                            <img src="static/images/user.png" alt="">
                                        </div>
                                        <div class="leading-4">
                                            <span class="font-medium text-light-100">Bernice Ray</span><br>
                                            <span class="text-sm">Web Developer</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge text-primary-100 bg-primary-10">Primary</span>
                                </td>
                                <td class="text-end relative">
                                    <button class="ac-btn"><i class="fa-regular fa-grip-dots"></i></button>
                                    <div class="ac-cont text-center">
                                        <a href="#" class="ac-item text-primary-100 hover:bg-primary-10" >Book</a>
                                        <select name="country" class="form-select">
                                            <option>United States</option>
                                            <option>Canada</option>
                                            <option>Mexico</option>
                                        </select>
                                    </div>

                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <div class="avatar">
                                            <img src="static/images/user.png" alt="">
                                        </div>
                                        <div class="leading-4">
                                            <span class="font-medium text-light-100">Bernice Ray</span><br>
                                            <span class="text-sm">Web Developer</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge text-primary-100 bg-primary-10">Primary</span>
                                </td>
                                <td class="text-end relative">
                                    <button class="ac-btn"><i class="fa-regular fa-grip-dots"></i></button>
                                    <div class="ac-cont text-center">
                                        <a href="#" class="ac-item text-primary-100 hover:bg-primary-10" >Book</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

{% endblock 'content' %}
