{% extends 'base.html' %}
{% load my_tags %}
{% block 'title' %}Holidays | EMS{% endblock 'title' %}
{% block 'content' %}

    <div class="card">
        <div class="card-header py-3 px-4 flex justify-between items-center border-b-2">
            <h5>Apply Leave</h5>
        </div>

        <div class="card-body px-4 py-4">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn bg-primary-100 text-white hover:bg-transparent hover:text-primary-100">Apply</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            
            $('#leaveform').submit(function (e) {  
                var type = $('#leavetype').val();
                var start = $('#start_date').val();
                var end = $('#end_date').val();
                if(type == '4' && start==end){
                    e.preventDefault();
                    $('#error').text('Start Date and End Date should not be Same For Selected Leave Type');
                } else if(type == '5' && start==end){
                    e.preventDefault();
                    $('#error').text('Start Date and End Date should not be Same For Selected Leave Type');
                }

                if (start>end){
                    e.preventDefault();
                    console.log('Greater');
                    $('#end_date').addClass('border-1 border-danger-100');
                    $('#end_date').next().text('End Date Should be After Start Date');
                }
            });
            

        });
    </script>
    
{% endblock 'content' %}